.HeaderBanner{
    background-color: #FCB4FE;
}
.HeaderImg{
    margin: 0 auto;
    width: 1190px;
    position: relative;
}
.HeaderImg span{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.headerUl-Container{
    height: 30PX;
    background-color: #E3E4E5;
    border-bottom: 1px solid #DDDDDD;
}
.headerUl{
    margin: 0 auto;
    width: 1190px;
    position: relative;
    
}


.JdGif{
    height: 171px;
    width: 190px;
    position: absolute;
    /* top:0; */
    background-color: #FFFFFF;
    border-bottom:1px solid #DDDDDD;
    z-index: 100;
}

.headerOrder{

    list-style: none;

    /* overflow: hidden;  */
    position: absolute;
    right: 0;
    top: 0;
  
}


.headerOrder li{
    float: left;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    /* padding-right:7.5px; */
    margin-right: 10px;
    color: #999999;
 }
 .positionDiv{
     width: 56px;
     height: 30px;
    text-align: center;
    line-height: 30px;
    left: 200px;
    top: 0;

    color: #999999;
    position: absolute;
 }
 .positionDiv:hover{
   border-top: 1px solid #DDDDDD;
   border-left: 1px solid #DDDDDD;
   border-right: 1px solid #DDDDDD;
   background: #ffffff;

}

.positionDiv:hover  .city{
    display: block;
 
 }

.headerUl a{
    
    text-decoration: none;
    color: #999999;
}
.headerOrder a{
    margin-right: 10px;
}
.headerUl :hover{
    color:red;
}

.city{
    background: #ffffff;
    height: 255px;
    width: 322px;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    position: absolute;
    left: -1px;
    top: 30px;
    display: none;
    z-index: 100;
}
.city ul{
    height: 225px;
    width: 300px;
    padding:10px 0px 10px 15px;

}
.city li{
    float: left;
    margin-bottom: 5px;
    font-size: 12px;
    color: #999999;
    margin-right: 15px;

}
.city a{
    display: inline-block;
    width: 40px;
    height: 24px;
   
    /* text-align: center; */
    line-height: 24px;

}

.city a:hover{
    background-color: #DDDDDD;

}

.xialaDiv{
    padding: 0 3.5px;
    position: relative;
    height: 30PX;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;

}

.xialaDiv:hover{
    
    background: #ffffff;
  

}
.xialaDiv:hover .myJd{

    display: block;
}

 .myJd{

    height: 163px;
    width: 282px; 
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD; 
    position: absolute;
    left: -1px;
    top: 30px;
    background: #ffffff;
    display:none;
    z-index: 100;
    /* padding: 10px  20px 10px 10px; */
}

.headerOrder .myJd ul{
   margin-top: 10PX;
   margin-bottom: 10PX;
 } 
.headerOrder .myJd li{
   margin:0 60PX 20PX 10PX; 
   height: 18px;
   margin-bottom: 8PX;
   float: left;

} 
.headerOrder .myjd a{
    width: 60px;
    display: inline-block;
 
 } 
 .myJdTop{
    border-bottom:1px solid #DDDDDD;
    padding-bottom: 8PX;

 }


.searchContainner{
  background-color:#F0F3EF;
   height: 140px;
 
}

.SearcheContainnerCenter{

    margin: 0 auto;
    width: 1190px;
    position: relative;
}

.girlDay{

    position: absolute;
}
.search{

    /* height: 60px; */
    /* overflow: hidden; 解决嵌套div垂直边距外部塌陷问题 */
    border-top: 1px solid #F0F3EF;
}

 .inputDiv{
    
    width: 550px;
    height: 35px;
    margin: 30px auto 0;
    line-height: 35px;
    position: relative;
 
}

.inputDiv .input{
    display:inline-block;
    width: 500px;
    height: 35px;
  
    outline: none; /*取消选中时外边框的颜色*/
}

.inputDiv .btnS{
    width: 50px;
    height: 35px;
    display:inline-block;
    background-color: red;
    text-align: center;
  border: none;
    margin-left: 0;
}

.myCayDiv{
    width: 188px;
    height: 34px;
    position: absolute;
    top:0px;
    right: -218px;
    /* border: 1px solid #DDDDDD; */
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD; 
    border-top: 1px solid #DDDDDD; 
    background-color: #fff;
    text-align: center;

}
 .Mycar{
     /* display: inline-block;
    width: 188px;
    height: 35px; */
    /* outline: none; */
    
    color:red;
    font-size: 12px;
   

}

.myCayDiv:hover{

    border-bottom: none;

}
.myCayDiv:hover .CarDetail {

    display: block;
} 
.CarDetail{
 
    width: 310px;
    height: 71px;
    position: absolute;
    right: -1px;
    top: 34px;
    background: url(../images/car.png)  no-repeat  left 10px  center ;
    z-index: 100;
    background-color: #ffffff;
    border: 1px solid #DDDDDD;
    /* border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD; */
    display: none;
    text-align: center;
    color: #999999;
    font-size: 12px;
    line-height: 71px;
    
}

.salesProduct{
    width: 550px;
    height: 35px;
    margin: 0 auto;
    position: relative;

}

.salesProduct ul{
    width: 550px;
    height: 35px;
    margin: 10px 0;

}
.salesProduct li{
    float: left;
    margin-right: 6px;
    font-size: 12px;
    margin-left: 6px;

}
.salesProduct  a{
    text-decoration: none;
    color: #999999;
}

.salesProduct  a:hover{
    
    color:red;
}
.jdProDiv{

    width: 720px;
    margin: 0 auto;
    position: relative;
}

.jdPro li{
    float: left;
    margin-right: 15px;
    
}

.jdPro  a{
    text-decoration: none;
    color:#333333;
    font-size: 14px;
}


.jdPro  a:hover{
    
    color:red;

}


.jdPro .fengexian{

    color:#999999;
}

.girlDay{

    position: absolute;
    right: -200px;
    top:-18px;
}

.footer{
    height: 568px;
    background-color:  #f0f3ef;
    margin-top: 10px;
}

.footer-hd{
    height: 103px;
    border-bottom: 1px solid #DDDDDD;
    /* background-color:  #E3E4E5; */
}

.footer-hd ul{
    float: left;
    width: 1290px;
    padding: 30PX 0;
    margin-left: 36px;
}
.footer-hd-inner li{
    float: left;
    width: 298px;
    height: 43px;
    line-height: 43px; 
}


.footer-hd-inner .duo
{

    background-position: 0px -192px;

}
.footer-hd-inner .kuai
{

    background-position: -41px -192px;

}
.footer-hd-inner .hao
{

    background-position: -82px -192px;

}
.footer-hd-inner .sheng
{

    background-position: -123px -192px;

}
.footer-hd-inner p{
    line-height: 42px;
    float: left;
    margin-left: 10px;
}

.footer-hd-inner h5{

    text-indent: -9999px;
    overflow: hidden;
    float: left;
}
.footer-hd-inner div{
   width: 35px;
   height: 44px;
   background: url(../images/spritefooter.png) no-repeat;

   float: left;
}


.footer-mid-inner{
    height: 200px;
    border-bottom: 1px solid #DDDDDD;
    position: relative;
}

.footer-mid-inner dl{
    margin-top: 22px;
    width: 200px;

    font-size: 14px;
    font-weight: 700;
    float: left;

}
.footer-mid-inner dt{

   padding-bottom: 16px;
}
.footer-mid-inner dd{
    height: 22px;
}
.footer-mid-inner a{
    font-size: 12px;
    color: #666666;
    font-weight: 400;
}

.mod-cover{
    width: 200px;
    height: 73px;
    position: absolute;
    top: 22px;
    right: 0;
    background: url(../images/spritefooter.png) no-repeat 
}
.mod-cover p{
    margin-top: 20px;
    font-size: 12px;
    color: #666666;
    line-height: 18px;
}
.mod-cover a{
    /* margin-top: 22px; */
    float: right;
}
/* main的部分开始 */
.main{
    background-color:  #f0f3ef;
    height: 480px;
  
}

.mainleft{
    background-color:#fefefe;
    width: 190px;
    height: 100%;
    color: #626262;
    font-size: 14px;
    overflow: hidden;
    float: left;
}


.mainleft  ul{
    margin-top: 6px;
}


.mainleft  li{

    height: 26px;
    line-height: 26px;
    text-indent: 18px;
}
.mainleft a{
    color: #626262;
    
}

.mainMid{

    height: 470px;
    width: 590px;
    background-color: rebeccapurple;
    float: left;
    margin: 10px 10px 0;
    position: relative;
}


.mainMid a{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/Jdmainbanner.jpg) no-repeat;

}

.slider{
    position: absolute;
    top:50%;
   border: none;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background-color: rgb(255, 255, 255,0.3);
    color: wheat;
}

.slider:hover{

    background-color: rgb(255, 255, 255,0.5);
}
.sliderleft{

    left: 0;
}
.sliderRight{
    right: 0;
}

.sliderUl{

    width: 152px;
    height: 18px;
    position: absolute;
    left: 50px;
    bottom: 20px;
    
}
.sliderUl li{

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    float: left;
    margin-right: 8px;
}


.mainMidRig{
    width: 190px;
    height: 470px;
    float: left;
}




.mainMidRig img{

    margin-top:10px;
}

.MainRig{

    width: 190px;
    height: 470px;
    background-color: #fefefe;
    float: left;
    margin: 10px 0 0 10px;
}


.mainRigTop{
    border: 1px solid #fefefe;
    width: 100%;
    height: 149px;
    position: relative;
    /* overflow: hidden; */
}

.mainRigTop img{
    position: absolute;
    width: 55px;
    height: auto;
    left: 50%;
    margin-left: -23px;
    top:-8px;
    border-radius: 50%;
    box-shadow: 3px 6px 25px #c3c3c3
}
.mainRigTop h5{
  font-size: 12px;
  font-weight: 400;
    text-align: center;
    margin-top: 66px;
    color: #888888;
   height: 20px;
   line-height: 20px;

}

.mainRigTop p{
    text-align: center;

}

.mainRigTop  .loginp{

    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
}
.mainRigTop .loginp a{

    color: #666666;
    font-size: 12px;
}

.customer a{

    width: 70px;
    height: 25px;
    line-height: 25px;
    border-radius: 10px;
    /* box-shadow: 1px 1px 1px 1px; */
    display: inline-block;
    font-size: 14px;

}
.new{

    color: #e43f3b;

}

.new:hover{

    background-color:#e43f3b;
    color:  #fefefe!important;

}

.huiyuan{

    color: #e5b958;
    background-color:#363634;
}

.mainRigBottom{
  width: 160px;
  height: 300px;
  padding: 0 15px;
}

.mainRigBottomNews{

    height: 130px;
    border-bottom: 1px solid #DDDDDD
}
.mainRigBottomNews  ul{
    margin-top: 16px;
    height: 130px;
    width: 100%;
   
}

.mainRigBottomNews li{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 21px;
 
}
a.more{

    float:right;
    color: #666666;
    font-size: 12px;
}


.JdNewTittle{
  width: 36px;
  height: 16px;
  display: inline-block;
  color: ffffff;
  font-size: 12px;
  border-radius: 2px;
  background-color: #90b0c6;
  line-height: 16px;
   text-align: center;
}

.articleTittle{

    font-size: 12px;
    color: #666666;
   
}
/* main部分结束 */
.footer-bottom-inner ul{
    overflow: hidden;
    margin: 0 auto;
}
.footer-bottom-inner ul:nth-child(1){
    height: 48px;
   line-height: 48px;
}

.footer-bottom-inner li{
    float: left;
   font-size: 12px;
   color: #666666;

}
.footer-bottom-inner span{
    margin: 0 10px;
}

.footer-bottom-inner a{
    color: #666666;
}
.footer-bottom-inner ul:nth-child(2){
    width: 795px;
 
    height: 22px;
}
.footer-bottom-inner ul:nth-child(3){
    width: 860px;

    height: 22px;
}
.footer-bottom-inner ul:nth-child(4){
    width: 804px;

    height: 22px;
}

.footer-bottom-inner ul:nth-child(5){
    width: 630px;
    height: 22px;
}


.footer-bottom-inner ul:nth-child(5) i{
    width: 15px;
    height: 12px;

    float: left;
    margin-right: 10px;
    background: url(../images/spritefooter.png) no-repeat   -108px -155px;
}

.footer-bottom-inner  ul:nth-child(5) .two{

    background-position: -128px -155px;
}

.footer-bottom-inner  ul:nth-child(5) .three{

    background-position: -138px -155px;
}

.footer-bottom-inner  ul:nth-child(5) .four{

    background-position: -148px -155px;
}

.footer-bottom-inner  ul:nth-child(5) .five{

    background-position: -158px -155px;
}

.footer-bottom-inner ul:nth-child(6){
    width: 192px;
    height: 22px;
}

.footer-bottom-inner ul:nth-child(7){

    width: 550px;
    height: 30px;

    margin-top :40px;
}
.footer-bottom-inner ul:nth-child(7) li{

    width: 110px;
    float: left;
}

.footer-bottom-inner ul:nth-child(7) a{
    display:inline-block;
    width: 103px;
    height: 32px;
    background: url(../images/spritefooter.png)  no-repeat -205px 0;
    text-indent: -9999px;
}

.footer-bottom-inner ul:nth-child(7) .three{

    background-position: -205px -38px;
}


.footer-bottom-inner ul:nth-child(7) .two{

    background-position: -205px -76px;
}

.footer-bottom-inner ul:nth-child(7) .five{

    background-position: -205px -151px;
}
.footer-bottom-inner ul:nth-child(7) .one{

    background-position: -205px -113px;
}


